{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
    {% block body %}
        <div class="main">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}
</body>
</html>