{% extends 'base.html' %}

{% block title %}Tweety{% endblock %}

{% block content %}
    <div class="tweet_container">
        <h2 class="app_logo">Tweety</h2>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="tweet_container__btn">Post</button>
        </form>

        <div class="tweets">
            {% for tweet in tweets %}
                <div class="tweet_item">
                    <p class="tweet">{{ tweet.tweet }}</p>
                    <p class="tweet_time">{{ tweet.tweet_time}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}