@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root{
    --white: #F7FFF7;
    --red: #FF6B6B;
    --yellow: #EF8354;
    --green: #4ECDC4;
    --dark: #2D3142;
    --dark-mild: #4F5D75;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background: var(--dark);
}

.main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tweet_container{
    height: 100vh;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 35px;
    position: relative;
}

.app_logo{
    color: var(--yellow);
    position: absolute;
    top: 25px;
    left: 95px;
    font-size: 2em;
}

.tweet_container form *{
    display: block;
    width: 500px;
    margin: 15px auto;
    border-radius: 5px;
    outline: none;
}

.tweet_container form textarea{
    height: 120px;
    border: 1px solid var(--dark);
    resize: none;
    padding: 10px;
    font-size: 1.1em;
}

.tweet_container__btn{
    display: block;
    border: none;
    background: var(--yellow);
    height: 55px;
    font-size: 1.3em;
    color: var(--white);
    cursor: pointer;
    transition: background .3s ease-in-out;
}

.tweet_container__btn:hover{
    background: var(--dark-mild);
}

.tweets{
    margin-top: 5px;
    width: 500px;
    height: 600px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.tweets::-webkit-scrollbar{
    width: 6px;
}

.tweet_item{
    padding: 10px;
    /*background: var(--white);*/
    color: var(--white);
    border: 1px solid var(--white);
    margin: 15px 0;
    border-radius: 6px;
    height: 100px;
    position: relative;
}

.tweet{
    padding-top: 20px;
    padding-left: 10px;
}

.tweet_time{
    position: absolute;
    right: 15px;
    top: 10px;
    font-weight: bold;
}